
html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
body { font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 16px; background: #eee; }

.main {
    min-width: 700px;
    height: 100%;
}

.cl {
    float: none;
    clear: both;
}

.year {
    font-size: 36px;
    color: #fff;
    background: #999;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.month {
    width: 25%;
    float: left;
    border-right: 1px solid #999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 275px;
    background: #fff;
}

.month-title {
    color: #fff;
    background: #bbb;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.week {
    display: block;
}

.weekend {
    color: #999;
}

.day {
    width: 13%;
    float: left;
    text-align: center;
    padding: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.day-title {
    font-weight: 400;
    font-size: 12px;
    padding: 10px 0;
    background: #eee;
}
.today {
    background: #ffa000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
}
.week-number {
    font-size: 12px;
    margin-top: 4px;
    width: 9%;
}
.week-number.day-title {
    margin: 0;
}
.day-title-row {
    background: #eee;
}

.copyright {
    text-align: center;
    font-size: 11px;
    padding: 20px;
    background: #eee;
}
.copyright a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
}
.copyright a:hover {
    color: #3d82e1;
}
